body {
    background-color: #5cb6f9;
    margin: 0px;
    font-family: 'Poppins';
}
.form-background {
    max-width: 100%;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.form-name {
    font-family: 'Poppins';
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
    color: #333;

}
.form {
    width: 100%;
    background-color: #f7f7f7;
    border: solid #f7f7f7;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 10px;
    grid-template-areas:
    'item1 item2' 
    'item3 item4'
    'item5 item6'
    'item7 item8'
    'item9 item10'
    'item11 item12'
    'item13 item14'
    'item15 item16'
    'item17 item18'
    'item19 item20'
    'item21 item22'
    'item23 item24'
    'major-left major-right'
    'submit submit';
    align-items: center;
}
.form-right{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.form-left {
    font-size: 28px;
    font-weight: bold;
}
.name {
    font-size:24px;
    font-weight:bold;
    margin-right: 5px;
}
.grid-label {
    font-size:17px;
}
.item2 {
    justify-content: start;
    display:grid;
    grid-template-columns: 15% 15% 15%;
    grid-gap:10px
}
.radio-container {
    align-self: center;
    margin: 0;
    padding: 0;
    justify-self:center;
}
mat-slider {
    width: 300px;
  }
.priority-slider {
    background-color: antiquewhite;
}

.two-sliders {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.mat-slider-thumb {
    background-color: #3f51b5 !important;
    border: none !important;
    box-shadow: 0px 0px 15px #000;
    outline: 5px solid #fff;
  }
  
  .mat-slider-track-fill {
    background-color: #3f51b5 !important;
  }
  
  .mat-slider-track-fill,
  .mat-slider-wrapper,
  .mat-slider-track-wrapper,
  .mat-slider-track-background {
    height: 10px !important;
    border-radius: 10px;
  }



.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10 {
    grid-area: item10;
}
.item11 {
    grid-area:item11;
}
.item12 {
    grid-area:item12;
}
.item13 {
    grid-area:item13;
}
.item14 {
    grid-area:item14;
}
.item15 {
    grid-area:item15;
}
.item16 {
    grid-area:item16;
}
.item17 {
    grid-area:item17;
}
.item18 {
    grid-area:item18;
}
.item19 {
    grid-area:item19;
}
.item20 {
    grid-area:item20;
}
.item21 {
    grid-area:item21;
}
.item22 {
    grid-area:item22;
}
.item23 {
    grid-area:item23;
}
.item24 {
    grid-area:item24;
}
.major-left{
    grid-area: major-left;
}
.major-right {
    grid-area:major-right;
    justify-self: start;
}

.btn {
    grid-area: submit;
}
em {
    color: red;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff; /* Accent color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  width: 25vw;
  height:3.5vw;
  font-size: 20px;
  justify-self: center;
}

.btn:hover {
  background-color: #0056b3; /* Darker accent color on hover */
}

.form-right.item2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; 
}

.form-right.minmax-container.item6 {
    display: grid;
    grid-template-columns: 28% 28% 44%;
    justify-content: space-between;
}