*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.DS_Store
.python-version
.env
.idea/
.ropeproject/
__pycache__/
venv/
.vscode/
env/
/dist
/tmp
/out-tsc
/bazel-out
.ipynb_checkpoints/
.ipynb_checkpoints
/node_modules
/node_modules/
node_modules/
npm-debug.log
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
Thumbs.db
