<div class="navbar">
    <div class="left">
      <img class="logo" src="logo2.png" alt="Logo" />
      <a routerLink="/">Home</a>
      <a routerLink="/form">Form</a>
      <a *ngIf="user$ | async as user" routerLink="/saved">Saved</a>
      <a *ngIf="!(user$ | async)" routerLink="/login">Saved</a>
    </div>
    <div class="right">
      <a *ngIf="!(user$ | async)" routerLink="/login">Log in</a>
      <a  *ngIf="user$ | async as user" (click)="logout()">Log out</a>
      <img *ngIf="user$ | async as user" class="profile_pic" src ="profile-icon.png" alt="Profile" />
    </div>
  </div>
