<app-header></app-header>
<body>
  <div class="intro-container">
    <div class="text-container">
        <div class="intro-name">Begin your overseas future!</div>
        <div class="intro-des">
            This short and sweet form outlines a few parameters that will let us pick a list of the top universities for your specific needs. Choose your filters and their importance and we will continue on from there! 
            Universities with better values in your top prioritised categories take precedence in the final list.
        </div>
        <div class="to-form">
            <a href="/form#form">Open form</a>
        </div>

    </div>
    <div class="image-container">
        <img src="graduationMid.jpg" alt="graduation">
    </div>
  </div>
  <div class="blue-bg">
    <hr class="divider">
  </div>

</body>
